{% extends base %}

{% block content %}

<div style='height: 75%; float: right; width: 1px;'>&nbsp;</div>

<div style='text-align: center; font-size: 2em;
            font-weight: bold; margin-bottom: 100px;'>
  <a href='/thingmenn/'>Þingmenn</a>
  <img style='margin-bottom: -100px;'
       src='/static/althingi-logo.png'>
  <a href='/frumvorp/'>Frumvörp</a>
</div>

<p style='text-align: justify; width: 350px; margin: 0 auto;'>
  Þetta er <b>Alþingisrýnir Pírata</b>.
  Hér getur þú skoðað hvernig þingmenn hafa greitt atkvæði í áhugaverðum
  málum, eða fengið yfirlit yfir afgreiðslu stakra frumvarpa.
</p>

{% endblock %}
