{% extends base %}
{% block header %}
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
{% endblock %}
{% block javascript %}
  function imgError(source) {
    source.src = "/static/althingi-logo.png";
    source.onerror = "";
    return true;
  }
  function updateSelection() {
    var selection = window.location.hash;
    $('.sel').css('font-weight', 'normal')
             .css('text-decoration', 'none').each(function(index, elem) {
      var href = $(elem).attr('href')
      if (href == selection || href == '#'+selection) {
        $(elem).css('font-weight', 'bold').css('text-decoration', 'underline');
      }
    });
    if (selection.substring(1, 5) == "thm_") {
      var stafir = selection.substring(6, 20);
      $('.thm').each(function(index, elem) {
        var name = $(elem).find('.nafn').html();
        if (-1 == stafir.indexOf(name.substring(0, 1))) {
          $(elem).hide();
        } else {
          $(elem).show();
        }
      });
    } else if (selection.substring(1, 7) == 'thmfl_') {
      $('.thm').hide();
      $('.thm_fl_'+selection.substring(7, 8)).show();
    } else if (selection == '#thmallir' || selection == '' || selection == '#') {
      $('.thm').show();
    }
  }
{% endblock %}
{% block css %}
  #thingmenn {width: 780px; margin: 10px auto;}
  .thm {display: inline-block; width: 240px; height: 80px; padding: 0 4px 0 0;
        position: relative; font-size: 0.8em; margin: 5px; opacity: 0.80;
        border-right: 1px solid #ddd; border-bottom: 1px solid #bbb;
        overflow: hidden;}
  .thm_fl_D {background: #bbf;}
  .thm_fl_S {background: #faa;}
  .thm_fl_V {background: #fc7;}
  .thm_fl__ {background: #ddd;}
  .thm_fl_B {background: #cfc;}
  .thm_fl_O {background: #eef;}
  .thm p {padding: 0;}
  .thm img {height: 100%; max-width: 25%; float: left; margin: 0 4px 0 0;}
  .thm .flokkur {font-size: 0.85em; font-weight: bold; float: right; margin: 0 0 4px 4px;}
  .thm .flokkur:before {content: "(";}
  .thm .flokkur:after {content: ")";}
  .thm .bio {position: absolute; bottom: 0; right: 4px;}
  .thm ul {list-style-type: none; position: absolute; bottom: 0; left: 30%;
           font-size: 0.85em;}
  .thm li {margin: -2px 5px; padding: 0px;}
  .thm li.h:before {content: 'Hlýðni: ';}
  .thm li.m:before {content: 'Mæting: ';}
  #flokkar {text-align: center;}
  .fl {font-size: 0.8em; padding: 0 0.5em; margin: 2px 0; display: inline-block;}
{% endblock %}
{% block content %}
{% if thingmadur %}
  <div id='thingmadur'>

  </div>
{% else %}
  <div id='flokkar'>
    <a class='sel fl' href='#'>Allir þingmenn</a><br>
    <a class='sel fl' href='#thm_aábcdðAÁBCDÐ'>A Á B D</a
   ><a class='sel fl' href='#thm_eéfgEÉFG'>E É F G</a
   ><a class='sel fl' href='#thm_hiíjHIÍJ'>H I Í J</a
   ><a class='sel fl' href='#thm_klmnKLMN'>K L M N</a
   ><a class='sel fl' href='#thm_oópqrOÓPQR'>O Ó P R</a
   ><a class='sel fl' href='#thm_stuúvwSTUÚVW'>S T U Ú V</a
   ><a class='sel fl' href='#thm_xyýzþæöXYÝZÞÆÖ'>Y Ý Þ Æ Ö</a
   ><br>
{% for flokkur in flokkar %}<a class='sel fl' href='#thmfl_{{ flokkur.stafur }}'>{{ flokkur.nafn }}
</a>{% endfor %}
  </div><hr>
  <div id='thingmenn'>
{% for thingmadur in thingmenn %}
    <div class='thm thm_fl_{{ thingmadur.flokksstafur }} stafur_{{ thingmadur.stafur }}'
         id='thm_{{ thingmadur.stafir }}'>
      <p class='info'>{% if not thingmadur.flokksstafur == '_' %}
        <span class='flokkur'>{{ thingmadur.flokksstafur }}</span>{% endif %}
        <a href='/thingmenn/{{ thingmadur.stafir }}/'>
          <img src='{{ thingmadur.mynd }}' alt='' onError='imgError(this);'>
          <span class='nafn'>{{ thingmadur.nafn }}</span>
        </a>
      </p>
      <ul class='stats'>
        <li class='m'>90%</li>
        <li class='h'>99%</li>
      </ul>
      <a class='bio' href='{{ thingmadur.url }}'>æviágrip</a>
    </div>
{% endfor %}
  </div>
{% endif %}
  <script language='javascript'>
    $('.sel').click(function() {
      setTimeout("updateSelection();", 25); return true;
    });
    updateSelection();
  </script>
{% endblock %}
