{% extends base %}
{% block header %}
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
{% endblock %}
{% block javascript %}
  function imgError(source) {
    source.src = "/static/althingi-logo.png";
    source.onerror = "";
    return true;
  }
{% endblock %}
{% block css %}
  #thingmadur {width: 700px; margin: 0 auto;}
  .althingi {float: right; width: 200px; text-align: center;}
  .althingi img {max-width: 100%; margin-left: 10px;}
  .x13 {font-weight: bold; margin: -20px 0 0 25px;}
  table {margin: 0 0 0 25px;}
  tt {font-size: 0.85em;}
  th, td {text-align: left; padding-right: 10px;}
  .kaus_uppreisn p {font-style: italic; font-size: 0.85em;
                    margin: -15px 25px 10px 25px;}
  .kaus i {font-size: 0.85em; font-style: normal;}
{% endblock %}
{% block content %}
{% if thingmadur %}
  <div id='thingmadur'>
    <a class='althingi' target='_blank' href='{{ thingmadur.url_vefs }}'>
      <img src='{{ thingmadur.url_mynd }}' onError='imgError(this);'>
      Æviágrip á Alþingi.is
    </a>
    <h3 class='nafn'>{{ thingmadur.nafn }}</h3>
    {% if thingmadur.iframbodifyrir %}<p class='x13'>
      {{ thingmadur.iframbodifyrir }}, Alþingiskosningar 2013
    </p>{% endif %}
    <h4 class='flokkur'><a href='/thingmenn/#thmfl_{{ thingmadur.flokkur.stafur }}'>{{ thingmadur.flokkur.nafn }}</a>{% if thingmadur.varamadur %}
                        <small>(varamaður)</small>{% endif %}</h4>
    <table>{% if not thingmadur.flokkur.stafur == '_' %}
      <tr class='h'><th>Hlýðni:  </th><td>{{ thingmadur.hlydni }}{% if not thingmadur.hlydni == '10.0' %} &nbsp;
                                         ({{ thingmadur.uppreisnir }} uppreisnir){% endif %}</td></tr>{% endif %}
      <tr class='m'><th>Mæting:  </th><td>{{ thingmadur.maeting }} &nbsp;
                                         ({{ thingmadur.skropadi }} fjarvistir)</td></tr>
      <tr class='j'><th>Kaus já: </th><td>{{ thingmadur.kaus_ja.count }}</td></tr>
      <tr class='n'><th>Kaus nei:</th><td>{{ thingmadur.kaus_nei.count }}</td></tr>
      <tr class='s'><th>Sat hjá: </th><td>{{ thingmadur.kaus_ekki.count }}</td></tr>
    </table>{% if not thingmadur.flokkur.stafur == '_' %}
    <div class='kaus kaus_uppreisn'>
      <h5>Uppreisnir</h2>
      <p>Það telst uppreisn ef þingmaur kýs gegn þorra flokksbræðra og -systra
         sinna, hvort eð er með skýru atkvæði eða með því að sitja hjá. Ef engin
         samstaða er, teljast allir vera í uppreisn.</p>
      <ul>{% for a in thingmadur.kaus_uppreisn|slice:":10" %}
        <li><i>{{ a.kosning.timi|date:"Y-m-d" }}:</i>
            <a href='/kosningar/{{ a.kosning.uid }}/'>{{ a.kosning.umraeda.titill }}</a> <tt>({{ a.atkvaedi }})</tt></li>
      {% endfor %}</ul>
    </div>{% endif %}
    <div class='kaus kaus_ja'>
      <h5>Kaus já <tt>(J)</tt></h2><ul>{% for a in thingmadur.kaus_ja|slice:":10" %}
        <li><i>{{ a.kosning.timi|date:"Y-m-d" }}:</i>
            <a href='/kosningar/{{ a.kosning.uid }}/'>{{ a.kosning.umraeda.titill }}</a></li>
      {% endfor %}</ul>
    </div>
    <div class='kaus kaus_nei'>
      <h5>Kaus nei <tt>(N)</tt></h2><ul>{% for a in thingmadur.kaus_nei|slice:":10" %}
        <li><i>{{ a.kosning.timi|date:"Y-m-d" }}:</i>
            <a href='/kosningar/{{ a.kosning.uid }}/'>{{ a.kosning.umraeda.titill }}</a></li>
      {% endfor %}</ul>
    </div>
    <div class='kaus kaus_ekki'>
      <h5>Sat hjá <tt>(S)</tt></h2><ul>{% for a in thingmadur.kaus_ekki|slice:":10" %}
        <li><i>{{ a.kosning.timi|date:"Y-m-d" }}:</i>
            <a href='/kosningar/{{ a.kosning.uid }}/'>{{ a.kosning.umraeda.titill }}</a></li>
      {% endfor %}</ul>
    </div>
  </div>
{% else %}
  <h2>Enginn þingmaður fannst... úbs!</h2>
{% endif %}
  <script language='javascript'>
    $('.sel').click(function() {
      setTimeout("updateSelection();", 25); return true;
    });
    updateSelection();
  </script>
{% endblock %}
